* {
  margin: 0;
  padding: 0;
}
.img-center {
  width: 200px;
  height: 150px;
  margin: 20px;
  position: relative;
  overflow: hidden;
}
.img-center img {
  display: block;
  position: absolute;
}
.img-center img.fill-x {
  width: 100%;
  top: 50%;
  transform: translateY(-50%)
}
.img-center img.fill-y {
  height: 100%;
  left: 50%;
  transform: translateX(-50%)
}